* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Menggunakan border-box untuk box-sizing */
    outline: none;
    text-decoration: none;
    border: none;
    color: #fff;
}


body {
    /* min-height: 500000px; */
}

.contentt {
    color: #fff;

}


.contentt img {

    border-radius: 500px;
    margin-top: 80px;
    /* margin-right: 30px; */
    /* Tambahkan baris ini */


}


.heroo {
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    background-image: url(../image/bacground\ 2.jpg);
    /* supaya bisa sesuai kan layar / px */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;




}

.heroo::after {
    content: '';
    display: block;
    position: absolute;
    width: 1000vh;
    max-width: 98.8%;
    height: 40%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(60, 60, 153), 10%, rgb(62, 71, 195, 0) 50%);

}

.contentt-2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../image/gif\ 1.gif);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

}

.card h2 {
    font-size: 50px;
}

.contentt-2 .card {
    background-color: rgba(225, 225, 225, 0.1);
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    border-radius: 50px;

}





/* Media  */
/* tablet  */
@media (max-width: 768px) {

    .heroo::after {
        width: 1000vh;
        max-width: 97%;
    }
}


/* Meida end */